{% extend 'account/base.html' %}

{% block body %}
<p>Discover Users</p>
<form method='GET' action="{% url 'home:search' %}" class="navbar-form navbar-right" role="search" >
  <div class="form-group input-group">
    <input type="text" value='{{request.GET.q}}' class="form-control" name='q' placeholder="Search.."/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" value='Search'>
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</form>
{% for i in users %}
<p>{{i.username}}</p>
{% endfor %}
{% endblock %}
